#!/bin/sh
exec 2>&1
cd /home/jenkins
curl -sO https://ci-couchdb.apache.org/jnlpJars/agent.jar
chown jenkins:jenkins /home/jenkins/agent.jar
exec chpst -u jenkins:jenkins:docker java -jar agent.jar -url https://ci-couchdb.apache.org/ -secret "{{ jenkins_secret }}" -name "{{ hostvars[inventory_hostname]["instance"]["name"] }}" -workDir "/home/jenkins"
